



.form{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 25px;
    width:30%;
    background-color: #a892ee;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
}
.form-body{
    display: flex;
    flex-direction: column;
}
.form-body > div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content:flex-start;
    height: 80px;
    width:65%;
    margin: auto;
    margin-top:5px;
    margin-bottom:5px;


}
.form-body> div > input {
    height: 35px;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    margin-top:5px;
    margin-bottom:5px;
    
}

.form-body> div > input{
    padding-left:8px  ;
}




.footer>button{
    height: 50px;
    width:60%;
    margin-top: 15px ;
    border: 0px;
    background-color: #40005d;
    color: white;
    font-weight: 400;
    font-size:medium;
    border-radius: 15px;
}

.footer>button:hover{
    background-color: rgb(187, 148, 225);
}

.form-body >div > input {
    border: 0ch;
}

.error{
    color: red;
}
.footer>.btn{
    height:50px;
    text-align: center; 
    width:60%;
    margin: auto;
    border: 0px;
    background-color: #40005d;
    color: white;
    font-weight: 400;
    font-size:medium;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer>.btn:hover{
    background-color: rgb(187, 148, 225);
}